---
---


$background-color: #1d1d1d;
/* a dark, off-black for the bg */
$text-color: #e6e6e6;
/* an off-white for the text */
$grey-color-light: #565656;
/* for the border-top separators */
$grey-color-dark: #adadad;
/* such as the site title in the header, visited */

@import "{{ site.theme }}";

.highlight {
    background: #1d1d1d;
}

.highlighter-rouge {
    background: #4f4f4f;
}

pre,
code {
    font-size: 15px;
    border: 3px solid #565656;
    background-color: #1d1d1d;
}